.contacts {
  &__content {
    @include page-grid;

    row-gap: 48px;
  }

  &__bottom {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 5;
      row-gap: 80px;
    }

    @include on-desk-top {
      grid-column: 7 / -1;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    line-height: 140%;
    color: #9393a3;
  }

  &__link {
    color: #191919;
    text-decoration: none;

    &:hover {
      color: #9393a3;
    }
  }
  &__block {
    margin-bottom: 24px;
  }
}
