.product {
  &__photo {
    width: 100%;
    height: auto;
    display: block;

    transition: $effectDuration;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__link {
    overflow: hidden;
    display: block;
    margin-bottom: 24px;
  }

  &__title {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    margin: 0;
    margin-bottom: 8px;
  }

  &__description {
    margin: 0;
    margin-bottom: 12px;
    max-width: 85%;
  }

  &__price {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
  }
}
